## 七月在线机器学习集训营七期第三周(数据可视化)考试
#### 考试说明:
- 起止时间：请同学在2019年2月22日至2月24日期间完成，最晚提交时间本周日（2月24日24时之前）结束，<b>逾期不接受补考,该考试分数计入平时成绩</b>
- 考试提交方式：请同学<font color=red><b>拷贝</b></font>该试卷后，将文件更名为同学姓名拼音-exam3（例如wangwei-exam3）后，移动至/0.Teacher/Exam/3/目录下进行作答。
- 注意事项：为确保同学们真正了解自身对本周课程的掌握程度，<font color=red><b>请勿翻阅，移动，更改</b></font>其它同学试卷。如发现按0分处理
- 请同学在下方同学姓名处填写自己的姓名，批改人和最终得分处不用填写

- 同学姓名：
- 批改人：   
- 最终得分:

<center><h1>####答卷开始####</h1></center>
<hr>

## 问答题(共5题，每题8分，共计40分)

### 1.随机从某超市抽取10个顾客，得到他们购物所花费的金额（单位：元）

- 数据：388，24，152，63.2，224.6，26，69，70，138，213

- 请问我们可以用哪些统计量，分析该组数据？

### 2.（接上题）试从可视化的角度分别解读这些统计量刻画了数据分布的哪些特征？

### 3.下表是2006年北京上海和天津，按收入法计算的地区生产总值（按当年价格计算）数据。

|地  区|劳动者报酬|生产税净额|固定资产折旧|营业盈余|
|:---|:---|:---|:---|:---|
|北京|3496.57|1161.55|1251.09|1961.07|
|天津|1383.36	|775.09|595.09|1605.61|			
|上海|3756.56|1623.36|1730.51|3255.94|	

- 请给出至少三种<b>适用</b>于描述上述数据所用的可视化图形？并简要说明这些方法的特点和用途。

### 4.试述有哪些方法可以判断一组数据是否服从正态分布？

### 5.试述您对置信水平和置信区间的理解？

## 实战题(共四大题，20小题，每小题3分，共60分)
#### 注意:每小题绘图均要求使用seaborn库进行,绘图下方均要求给出同学的分析或见解，只有图没有分析不给分

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

### 1.航班乘客变化分析 (10分)

- 载入相应绘图库及航班乘客数据（flights）

In [2]:
flights_df=sns.load_dataset("../data/flights")
flights_df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

- 分析年度乘客总量变化情况（折线图）

- 分析乘客在一年中各月份的分布（柱状图）

### 2.鸢尾花花型尺寸分析

- 载入iris数据集

In [ ]:
iris_df=sns.load_dataset("iris")
iris_df.head()

- 萼片（sepal）和花瓣（petal）的大小关系（散点图）

- 不同种类鸢尾花萼片和花瓣大小的分布情况（柱状图或者箱式图）

- 不同种类（species）鸢尾花萼片和花瓣的大小关系（分类散点子图）

### 3.餐厅小费情况分析
* 载入tips数据集

In [3]:
tips_df=sns.load_dataset("../data/tips")
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

- 小费和总消费之间的关系（散点图）

- 男性顾客和女性顾客，谁更慷慨（分类箱式图）

- 抽烟与否是否会对小费金额产生影响（分类箱式图）

- 工作日和周末，什么时候顾客给的小费更慷慨（分类箱式图）

- 午饭和晚饭，哪一顿顾客更愿意给小费（分类箱式图）

- 就餐人数是否会对慷慨度产生影响（分类箱式图）

- 性别+抽烟的组合因素对慷慨度的影响（分组柱状图）

### 4.泰坦尼克号海难幸存状况分析

* 载入数据集

In [8]:
titanic_df=sns.load_dataset("../data/titanic")
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

* 不同仓位等级中幸存和遇难的乘客比例（堆积柱状图）

* 不同性别的幸存比例（堆积柱状图）

* 幸存和遇难乘客的票价分布（分类箱式图）

* 幸存和遇难乘客的年龄分布（分类箱式图）

* 不同上船港口的乘客仓位等级分布（分组柱状图）

* 幸存和遇难乘客堂兄弟姐妹的数量分布（分类箱式图）

* 幸存和遇难乘客父母子女的数量分布（分类箱式图）

* 单独乘船与否和幸存之间有没有联系（堆积柱状图或者分组柱状图）

***
<center><h1>####答卷结束####</h1></center>

### 本周课程意见反馈(非必答)
请同学围绕以下两点进行回答：
- 自身总结：您自己在本周课程的学习，收获，技能掌握等方面进行总结，包括自身在哪些方面存在哪些不足，欠缺，困惑。作为将来回顾学习路径时的依据。
- 课程反馈：也可以就知识点，进度，难易度，教学方式，考试方式等等进行意见反馈，督促我们进行更有效的改进，为大家提供更优质的服务。