In [13]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
%matplotlib inline

In [14]:
# pandas-num-option!
pd.options.display.max_columns = 50  # None -> No Restrictions
pd.options.display.max_rows = 200    # None -> Be careful with this
pd.options.display.max_colwidth = 100
pd.options.display.precision = 3

In [15]:
def change_col_name(col_name):        
    col_name = col_name.replace('_name', '')        
    if 'facebook' in col_name:            
        fb_idx = col_name.find('facebook')            
        col_name = col_name[:5] + col_name[fb_idx - 1:] + col_name[5:fb_idx-1]        
    return col_name

In [16]:
movie = pd.read_csv('data/movie.csv')

In [17]:
actor = movie[['movie_title', 'actor_1_name',                   
                    'actor_2_name', 'actor_3_name',                   
                     'actor_1_facebook_likes',                   
                     'actor_2_facebook_likes',                   
                     'actor_3_facebook_likes']]

In [18]:
actor2 =actor.rename(columns = change_col_name)

In [19]:
actor2.head()

,movie_title,actor_1,actor_2,actor_3,actor_facebook_likes_1,actor_facebook_likes_2,actor_facebook_likes_3
0,Avatar,CCH Pounder,Joel David Moore,Wes Studi,1000.0,936.0,855.0
1,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,40000.0,5000.0,1000.0
2,Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,11000.0,393.0,161.0
3,The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000.0,23000.0,23000.0
4,Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,NaN,131.0,12.0,NaN

In [21]:
stubs = ['actor', 'actor_facebook_likes']

In [25]:
actor_tidy = pd.wide_to_long(actor2, stubnames=stubs, i = ['movie_title'], j = 'actor_num',  sep = '_')

In [26]:
actor_tidy.head()

,,actor,actor_facebook_likes
movie_title,actor_num,,
Avatar,1,CCH Pounder,1000.0
Pirates of the Caribbean: At World's End,1,Johnny Depp,40000.0
Spectre,1,Christoph Waltz,11000.0
The Dark Knight Rises,1,Tom Hardy,27000.0
Star Wars: Episode VII - The Force Awakens,1,Doug Walker,131.0