In [8]:
!pip3 install pandas-datareader

Looking in indexes: http://mirrors.cloud.aliyuncs.com/pypi/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.6/dist-packages (0.7.0)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (2.21.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (1.11.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/lib/python3/dist-packages (from pandas-datareader) (0.22.0)
Requirement already satisfied: lxml in /usr/lib/python3/dist-packages (from pandas-datareader) (4.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests>=2.3.0->pandas-datareader) (2018.1.18)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.3.0->pandas-datareader) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/lib/python3/dist-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.3.0->pandas-datareader) (2.6)
You are using pip version 18.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas_datareader as pdr

In [4]:
tsla = pdr.DataReader('tsla', data_source='yahoo',                          
                      start='2019-1-1')

In [11]:
tsla.head(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-31,339.209991,325.260010,337.790009,332.799988,6302300,332.799988
2019-01-02,315.130005,298.799988,306.100006,310.119995,11658600,310.119995
2019-01-03,309.399994,297.380005,307.000000,300.359985,6954400,300.359985
2019-01-04,318.000000,302.730011,306.000000,317.690002,7394100,317.690002
2019-01-07,336.739990,317.750000,321.720001,334.959991,7551200,334.959991
2019-01-08,344.010010,327.019989,341.959991,335.350006,7008500,335.350006
2019-01-09,343.500000,331.470001,335.500000,338.529999,5432900,338.529999
2019-01-10,345.390015,331.790009,334.399994,344.970001,6056400,344.970001
2019-01-11,348.410004,338.769989,342.089996,347.260010,5039100,347.260010
2019-01-14,342.500000,334.000000,342.380005,334.399994,5247300,334.399994
2019-01-15,348.799988,334.500000,335.000000,344.429993,6056600,344.429993
2019-01-16,352.000000,343.500000,344.779999,346.049988,4691700,346.049988
2019-01-17,351.500000,344.149994,346.209991,347.309998,3676700,347.309998
2019-01-18,327.130005,299.730011,323.000000,302.260010,24150800,302.260010
2019-01-22,308.000000,295.500000,304.820007,298.920013,12066700,298.920013
2019-01-23,294.500000,281.690002,292.500000,287.589996,12530000,287.589996
2019-01-24,293.679993,279.279999,283.029999,291.510010,8012200,291.510010
2019-01-25,298.519989,289.549988,294.390015,297.040009,7249600,297.040009
2019-01-28,297.459991,287.750000,292.910004,296.380005,6423300,296.380005
2019-01-29,298.559998,291.799988,295.269989,297.459991,4621700,297.459991

In [5]:
tsla_close = tsla.loc[:, 'Close']

In [6]:
tsla_cummax = tsla_close.cummax()

In [9]:
tsla_cummin = tsla_close.cummin()

In [7]:
tsla_cummax.head(20)

Date
2018-12-31    332.799988
2019-01-02    332.799988
2019-01-03    332.799988
2019-01-04    332.799988
2019-01-07    334.959991
2019-01-08    335.350006
2019-01-09    338.529999
2019-01-10    344.970001
2019-01-11    347.260010
2019-01-14    347.260010
2019-01-15    347.260010
2019-01-16    347.260010
2019-01-17    347.309998
2019-01-18    347.309998
2019-01-22    347.309998
2019-01-23    347.309998
2019-01-24    347.309998
2019-01-25    347.309998
2019-01-28    347.309998
2019-01-29    347.309998
Name: Close, dtype: float64

In [10]:
tsla_cummin.head(20)

Date
2018-12-31    332.799988
2019-01-02    310.119995
2019-01-03    300.359985
2019-01-04    300.359985
2019-01-07    300.359985
2019-01-08    300.359985
2019-01-09    300.359985
2019-01-10    300.359985
2019-01-11    300.359985
2019-01-14    300.359985
2019-01-15    300.359985
2019-01-16    300.359985
2019-01-17    300.359985
2019-01-18    300.359985
2019-01-22    298.920013
2019-01-23    287.589996
2019-01-24    287.589996
2019-01-25    287.589996
2019-01-28    287.589996
2019-01-29    287.589996
Name: Close, dtype: float64