In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
%matplotlib inline

In [2]:
weight_loss = pd.read_csv('data/weight_loss.csv')

In [3]:
weightLossDf = weight_loss.query('Month == "Jan"')

In [4]:
type(weightLossDf)

pandas.core.frame.DataFrame

In [5]:
def find_perc_loss(s):        
    print(type(s))
    return (s - s.iloc[0]) / s.iloc[0]

In [6]:
bob_jan = weight_loss.query('Name=="Bob" and Month == "Jan" ')

In [7]:
bob_jan

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
2  Bob   Jan  Week 2     288
4  Bob   Jan  Week 3     283
6  Bob   Jan  Week 4     283

In [8]:
find_perc_loss(bob_jan.loc[:, 'Weight'])

<class 'pandas.core.series.Series'>

0    0.000000
2   -0.010309
4   -0.027491
6   -0.027491
Name: Weight, dtype: float64

In [9]:
pcnt_loss = weight_loss.groupby(['Name', 'Month'])['Weight'].transform(find_perc_loss)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [10]:
pcnt_loss.head(8)

0    0.000000
1    0.000000
2   -0.010309
3   -0.040609
4   -0.027491
5   -0.040609
6   -0.027491
7   -0.035533
Name: Weight, dtype: float64

In [11]:
flights = pd.read_csv('data/flights.csv')

In [12]:
flights.head(10)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
7,1,1,4,F9,SFO,PHX,1020,-7.0,91.0,651,1315,-6.0,0,0
8,1,1,4,AA,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
9,1,1,4,UA,IAH,SJC,925,3.0,215.0,1608,1136,-14.0,0,0

In [13]:
bins = [-np.inf, 200, 500, 1000, 2000, np.inf]

In [14]:
cuts = pd.cut(flights['DIST'], bins = bins)

In [15]:
type(cuts)

pandas.core.series.Series

In [16]:
cuts

0         (500.0, 1000.0]
1        (1000.0, 2000.0]
2         (500.0, 1000.0]
3        (1000.0, 2000.0]
4        (1000.0, 2000.0]
5        (1000.0, 2000.0]
6          (200.0, 500.0]
7         (500.0, 1000.0]
8          (200.0, 500.0]
9        (1000.0, 2000.0]
10        (500.0, 1000.0]
11        (500.0, 1000.0]
12         (200.0, 500.0]
13         (200.0, 500.0]
14        (500.0, 1000.0]
15        (500.0, 1000.0]
16        (500.0, 1000.0]
17       (1000.0, 2000.0]
18         (200.0, 500.0]
19         (200.0, 500.0]
20        (500.0, 1000.0]
21         (200.0, 500.0]
22         (200.0, 500.0]
23        (500.0, 1000.0]
24         (200.0, 500.0]
25          (-inf, 200.0]
26       (1000.0, 2000.0]
27       (1000.0, 2000.0]
28        (500.0, 1000.0]
29          (-inf, 200.0]
               ...
58462    (1000.0, 2000.0]
58463       (-inf, 200.0]
58464      (200.0, 500.0]
58465     (500.0, 1000.0]
58466    (1000.0, 2000.0]
58467      (200.0, 500.0]
58468       (-inf, 200.0]
58469    (1000.0, 2000.0]
58470    (1000.0, 2000.0]
58471      (200.0, 500.0]
58472    (1000.0, 2000.0]
58473     (500.0, 1000.0]
58474      (200.0, 500.0]
58475     (500.0, 1000.0]
58476     (500.0, 1000.0]
58477    (1000.0, 2000.0]
58478      (200.0, 500.0]
58479     (500.0, 1000.0]
58480      (200.0, 500.0]
58481    (1000.0, 2000.0]
58482      (200.0, 500.0]
58483       (2000.0, inf]
58484      (200.0, 500.0]
58485      (200.0, 500.0]
58486      (200.0, 500.0]
58487    (1000.0, 2000.0]
58488      (200.0, 500.0]
58489      (200.0, 500.0]
58490     (500.0, 1000.0]
58491     (500.0, 1000.0]
Name: DIST, Length: 58492, dtype: category
Categories (5, interval[float64]): [(-inf, 200.0] < (200.0, 500.0] < (500.0, 1000.0] < (1000.0, 2000.0] < (2000.0, inf]]

In [17]:
flights.shape

(58492, 14)

In [19]:
flights.groupby(cuts).loc[['AIRLINE']].value_counts(normalize = True).round(3).head(15)

AttributeError: Cannot access callable attribute 'loc' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [20]:
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [21]:
flights.groupby(cuts).groups.keys()

dict_keys([Interval(-inf, 200.0, closed='right'), Interval(200.0, 500.0, closed='right'), Interval(500.0, 1000.0, closed='right'), Interval(1000.0, 2000.0, closed='right'), Interval(2000.0, inf, closed='right')])

In [29]:
names = pd.read_csv('data/names.csv')

In [30]:
names

       Name  Age
0  Cornelia   70
1     Abbas   69
2  Penelope    4
3      Niko    2

In [33]:
new_S = pd.Series({'Age':32, 'Name':'Dean'})

In [34]:
names.append(new_S)

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [35]:
new_S

Age       32
Name    Dean
dtype: object