In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
%matplotlib inline

In [2]:
# pandas-num-option!
pd.options.display.max_columns = 50  # None -> No Restrictions
pd.options.display.max_rows = 200    # None -> Be careful with this
pd.options.display.max_colwidth = 100
pd.options.display.precision = 3

In [3]:
# pandas-style!
def color_negative_red(val):
    color = 'red' if val < 0 else 'black' 
    return 'color: %s' % color 
# df.style.applymap(color_negative_red)

In [4]:
usecol_func = lambda x: 'UGDS_' in x or x == 'INSTNM'

In [5]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')

In [6]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.033,0.935,0.005,0.002,0.002,1.900e-03,0.000,0.006,0.014,0.066,1,0.736,0.828,0.105,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.592,0.260,0.028,0.052,0.002,7.000e-04,0.037,0.018,0.010,0.261,1,0.346,0.521,0.242,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.299,0.419,0.007,0.003,0.000,0.000e+00,0.000,0.000,0.272,0.454,1,0.680,0.779,0.854,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.699,0.126,0.038,0.038,0.014,2.000e-04,0.017,0.033,0.035,0.215,1,0.307,0.460,0.264,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.016,0.921,0.012,0.002,0.001,6.000e-04,0.010,0.024,0.014,0.089,1,0.735,0.755,0.127,26600,33118.5

In [7]:
base_url ='http://www.presidency.ucsb.edu/data/popularity.php?pres={45}'

In [8]:
df_list = pd.read_html(base_url)

ValueError: No tables found

In [ ]:
years = 2016, 2017, 2018

In [ ]:
[print('data/stock_{}'.format(year)) for year in years]

In [ ]:
stock_tables = [pd.read_csv('data/stocks_{}.csv'.format(year), index_col='Symbol')  for year in years]

In [ ]:
stock_2016, stock_2017, stock_2018 = stock_tables

In [ ]:
stock_2016

In [ ]:
stock_2017

In [ ]:
stock_2018

In [ ]:
s_list = [stock_2016, stock_2017, stock_2018]

In [ ]:
pd.concat(s_list, keys= ['2016', '2017', '2018'], names = ['Year', 'Symbol'])

In [ ]:
pd.concat(s_list, keys= ['2016', '2017', '2018'], names = ['Year', 'Symbol'], axis = 'columns')

In [ ]:
pd.concat(stock_tables, keys = ['2016', '2017', '2018'], names = ['Year', 'Symbol'], axis = 'columns')

In [6]:
crime = pd.read_hdf('data/crime.h5', 'crime')

NameError: name 'pd' is not defined

In [4]:
crime.set_index('REPORTED_DATE')

NameError: name 'crime' is not defined

In [5]:
crime.loc['21st October 2014 05']

NameError: name 'crime' is not defined